## Key Server
petlyst-mobile-frontend/@tlafci__petlyst-mobile.jks
petlyst-mobile-frontend/credentials/
petlyst-mobile-frontend/credentials.json

## Expo Build
petlyst-mobile-frontend/eas.json
petlyst-mobile-frontend/.expo/

## FCM
petlyst-mobile-frontend/google-services.json

## node_modules
petlyst-mobile-frontend/node_modules/
petlyst-mobile-backend/node_modules/

## Native Folders
petlyst-mobile-frontend/android/
petlyst-mobile-frontend/ios/

## .env
petlyst-mobile-backend/.env
