petlyst-mobile-backend/.env
petlyst-mobile-backend/node_modules/
petlyst-mobile-frontend/node_modules/
petlyst-mobile-frontend/.expo/
petlyst-mobile-frontend/eas.json
petlyst-mobile-frontend/app.json
