node_modules/

petlyst-mobile-frontend/google-services.json
petlyst-mobile-frontend/eas.json
petlyst-mobile-frontend/node_modules/
petlyst-mobile-frontend/.expo/
petlyst-mobile-frontend/android/
petlyst-mobile-frontend/android/gradle.properties
petlyst-mobile-frontend/android/app/google-services.json


petlyst-mobile-backend/.env
petlyst-mobile-backend/node_modules/





